.repo-info {
    list-style: none;
    text-align: start;
}

.back-btn {
    margin: 20px 0;
    background-color: mediumpurple;
}

.back-btn:hover {
 border: 2px solid mediumpurple;
 color: mediumpurple;
 background-color: #DBE2E8;
}

