.app-logo {
    height: 30vmin; 
    margin-top: 150px;
  }

.input-container {
    box-sizing: border-box;
    padding-top: 30px;
}

input {
    box-sizing: border-box;
    border: 1px solid lightgray;
    width: 40%;
    height: 25px;
    padding-left: 10px;
    border-right: none;
    border-radius: 2px 0 0 2px;
    outline: none;
}

button {
    box-sizing: border-box;
    border: none;
    height: 25px;
    width: 12%;
    background-color: #1778ED;
    color: #ffffff;
    border-radius: 0 2px 2px 0;
    border-left: none;
    padding: 0;
    outline: none;
}

.search-btn:hover {
    background-color: #DBE2E8;
    border: 2px solid #3579E5;
    color: #3579E5;
}

.error-message {
    color: red;
    margin-bottom: 10px;
}